@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  max-height: 900px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

header > div {
  flex: 1;
}

div.background {
  z-index: -1;
  background-color: #0891b2;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    /* raise bottom-right corner */ 0 100%
  );
}

div.img-container,
div.about-me-container {
  z-index: 1;
  /* outline: auto; */
  max-width: 820px;
  max-height: 550px;
}

div.img-container {
  position: relative;
}

h1 {
  position: absolute;
  font-size: 100px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  top: 475px;
  left: 35px;
}

picture {
  width: 100%;
  height: 100%;
}

div.about-me-container {
  outline: auto;
}
