@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  max-height: 900px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

header > div {
  flex: 1;
}

div.background {
  z-index: -1;
  background-color: #0891b2;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    /* raise bottom-right corner */ 0 100%
  );
}

div.img-container {
  position: relative;
}

h1 {
  position: absolute;
  font-size: 100px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  bottom: 50px;
  left: 155px;
}

div.about-me-container {
  z-index: 1;
  max-width: 820px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

div.about-me-container > p {
  color: #6d6b6a;
}

h2 {
  font-family: "Playfair Display", serif;
}

.icon-container {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.icon-container i {
  transition: transform 0.5s;
}

.icon-container i:hover {
  transform: scale(1.5);
  cursor: pointer;
}
