@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

header > div {
  flex: 1;
}

div.background {
  z-index: -1;
  background-color: #0891b2;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    /* raise bottom-right corner */ 0 100%
  );
}

div.wrapper {
  position: relative;
}

h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

div.about-me-container {
  z-index: 1;
  max-width: 820px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
}

div.about-me-container > p {
  color: #6d6b6a;
}

.about-me-container > h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

main > h2 {
  font-family: "Playfair Display", serif;
  position: relative;
  left: 40px;
  font-size: 2rem;
  font-weight: 100;
}

header .icon-container {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.icon-container i {
  transition: transform 0.5s;
}

.icon-container i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

main {
  padding: 50px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.placeholder,
.project-details {
  max-width: 530px;
}

.project {
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
  transition: transform 0.5s;
}

.project:hover {
  transform: scale(1.02);
}

.placeholder {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.placeholder.red {
  background-color: #9e1c1c;
}

.placeholder.violet {
  background-color: #7c75ca;
}

.placeholder.green {
  background-color: #5e8f4d;
}

.placeholder.pink {
  background-color: #c363b4;
}

.placeholder.orange {
  background-color: #d88f39;
}

.placeholder.blue {
  background-color: #4ba2d2;
}

.project-details p {
  font-family: "Roboto", sans-serif;
}
.project-details div {
  font-family: "Playfair Display", serif;
}

.project-details h3 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 100;
}

.project-details h3 span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.project-details p {
  padding: 0 1rem 3rem;
  color: #8a8988;
}

footer {
  background-color: #0891b2;
  color: #ffffff;
  display: flex;
  padding: 50px;
}

footer > * {
  flex: 1;
}

.contact-container {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 50px;
}

.contact-container h2 {
  font-family: "Playfair Display", serif;
}

.contact-container > p > img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

p:has(img) {
  display: flex;
  align-items: center;
}
